{block content}
<form n:name ="orderForm">
    <h1>Objednavka</h1>
    {if !$user->isLoggedIn()}
        Email:<b>*</b> <input n:name="email" type="email"><br>
        Jméno a přijmení:<b>*</b> <input n:name="priezvisko"><br>
        Telefonní číslo:<b>*</b> <input n:name="cislo"><br>
    {/if}
    Mesto:<b>*</b> <input n:name="mesto"><br>
    PSC:<b>*</b> <input n:name="psc"><br>
    Ulice:<b>*</b> <input n:name="ulice"><br>
    Cislo popisne:<b>*</b> <input n:name="cislo_popisne"><br>
    Doprava:<b>*</b> <select n:name="doprava_id"></select>
    Poznamka: <textarea n:name="poznamka"></textarea><br>
    <div><b>*</b> Toto pole je povinné</div>
    <input n:name="send" type="submit" value="Objednat">
</form>