{block content}
<article class="panel panel-primary">
    <div class="panel-body">
        <div class="center">
            Objednávka byla úspěšně odeslána ke zpracování.<br>
            Na této stránce uvidíte stav objednávky.<br>
            <b>STAV:</b>
            {if $order->stav == 1}
                Objednávka byla vyřízena.<br>
                Fakturu najdete zde.<br>
                <a n:href="order, 'id' => $order->string_id"><i class="fa fa-file"></i></a>
            {elseif $order->stav == 2}
                Objednávka byla odstraněna (zrušena).
            {else}
                Objednávka se zpracovává.<br>
            {/if}
        </div>
    </div>
</article>