{block content}
<article class="panel panel-primary">
    <div class="panel-heading">
        Objednávky
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Datum vytvoření</th>
                        <th>Cena celkem</th>
                        <th>Stav objednávky</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $list as $order}
                        <tr>
                            <td>Faktura - {$order->objednavka_id}{$order->datum_vytvoreni|date:'dmY'}</td>
                            <td>{$order->datum_vytvoreni|date:'d. m. Y'}</td>
                            <td>{$order->price} Kč</td>
                            <td>{if $order->stav == 0}zpracovává{elseif $order->stav == 2}zrušena{else}vyfakturována{/if}</td>
                            <td><a n:href="Order:finished, 'id' => $order->string_id">detail</a></td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</article>