<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="faktura">
        <meta name="author" content="Cerny & Blaskova">
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>Faktura {$order->objednavka_id}{$order->datum_vytvoreni|date:'dmY'}</title>
    </head>
    <body>
        <div class="invoice">
            <div class="text-right">
                <b>Faktura č.: {$order->objednavka_id}{$order->datum_vytvoreni|date:'dmY'}</b>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Dodavatel:
                            </div>
                            <div class="panel-body">
                                <b>Cerny & Blaskova</b><br>
                                Kolejní 2<br>
                                612 00 Brno<br>
                                IČO: 12345678<br>
                                DIČ: CZ12345678
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <b>číslo účtu: 42-00742007/0100</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Odběratel:
                            </div>
                            <div class="panel-body">
                                <b>{$arrUser->priezvisko}</b><br>
                                {$order->ulice} {$order->cislo_popisne}<br>
                                {$order->psc} {$order->mesto}<br>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cleaner">
                        <div class="panel-body">
                            <b>Doprava:</b> {$transport[$order->doprava_id]->nazov}<br>
                            <b>Datum vystavení:</b> {$order->datum_vytvoreni|date:'d-m-Y'}<br>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Faktura za produkty:
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Název</th>
                                            <th>Cena za kus</th>
                                            <th>Kusy</th>
                                            <th>Celkem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {var $priceAll = 0.0}
                                        {foreach $products as $product}
                                            <tr>
                                                <td>{$product->nazov}</td>
                                                <td>{$product->cena} Kč</td>
                                                <td>{$product->mnozstvo} ks</td>
                                                <td>{$product->mnozstvo * $product->cena} Kč</td>{php $priceAll += $product->mnozstvo * $product->cena}
                                            </tr>
                                        {/foreach}
                                        <tr>
                                            <td>Doprava - {$transport[$order->doprava_id]->nazov}</td>
                                            <td>{$transport[$order->doprava_id]->cena} Kč</td>
                                            <td></td>
                                            <td></td>{php $priceAll += $transport[$order->doprava_id]->cena}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result">
                <h2>Celkem k úhradě: {ceil($priceAll)} Kč</h2>
            </div>

        </div>
    </body>
    <style type="text/css">
        body {
            width: 100%;
            margin: 10px 15px 0px 15px;
        }
        .invoice {
            margin: 5px;
        }
        .invoice > .row {
            margin: 0px;
        }
        .left {
            float: left;
        }
        .col-6, .col-12 {
            position: relative;
            float: left;
            padding-left: 5px;
            padding-right: 5px;
        }
        .col-6 {
            width: 50%
        }
        .cleaner {
            clear: both;
        }
        body .text-right b{
            font-size: large;
        }
        .result {
            text-align: right;
            padding: 20px;
            font-size: x-large;
        }
    </style>
</html>