{block content}
<article>
    {$content}
    <div class="cistic"></div>
</article>
<article n:if="$showProducts == 1" class="panel panel-primary">
    <div class="panel-heading">Nové produkty</div>
    <div class="panel-body">
    {foreach $products as $product}
        <div class="product-container col-3">
            <div class="panel panel-default" onclick="location.href ={link Product:detail, 'id' => $product->sortiment_id}">
                <div class="panel-heading">
                    <a n:href="Product:detail, 'id' => $product->sortiment_id">{$product->nazov}</a>
                </div>
                <div class="panel-body">
                    {if $product->icon != null}
                        <div class="product-image">
                            <img src="{$basePath}/upload/{$product->icon}"/>
                        </div>
                    {/if}
                    {if $product->pocet == 0} 
                        Není skladem<br>
                    {else}
                        Dostupnost: {$product->pocet}x<br>
                    {/if}
                    Cena: {$product->cena} Kč<br>
                </div>
            </div>
        </div>
    {/foreach}
    
    </div>
    <div class="cistic"></div>
</article>