{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dodavatelé <small>Přehled</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>IČO</th>
                            <th>Email</th>
                            <th>Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $list as $supplier}
                        <tr>
                            <td>{$supplier->nazov}</td>
                            <td>{$supplier->cislo}</td>
                            <td>{$supplier->email}</td>
                            <td>
                                <a class="btn btn-outline btn-danger btn-xs" n:href="delete! id => $supplier->dodavatel_id">smazat</a>
                                <a class="btn btn-outline btn-primary btn-xs" n:href="update, 'id' => $supplier->dodavatel_id">upravit</a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a n:href="add" class="btn btn-lg btn-success">Přidat nového dodavatele</a>
        </div>
    </div>
</div>
{/block}