{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dodavatelé <small>Úprava dodavatele</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <form n:name="updateSupplier">
                <div class="form-group">
                    <label class="col-lg-2">Název: <b>*</b></label>
                    <input n:name="nazov">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">IČO: <b>*</b></label>
                    <input n:name="cislo">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Email: <b>*</b></label>
                    <input n:name="email">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Doprava: <b>*</b></label>
                    <input n:name="doprava">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Poznámka:</label>
                    <input n:name="poznamka">
                </div>
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div><b>*</b> Toto pole je povinné</div>
                </div>
                <div class="col-lg-2"></div>
                <div>
                    <input class="btn btn-primary" n:name="send" value="Upravit">
                </div>
            </form>
        </div>
    </div>
</div>
{/block}