{block content}
{var $produktPocet = 0}
{php $produktPocet = $product->pocet}
{if array_key_exists($product->sortiment_id, $cartProducts)}{php $produktPocet -= $cartProducts[$product->sortiment_id]}{/if}
<article class="panel panel-primary">
    <div class="panel-body">
        <h1>{$product->nazov}</h1>
        <div class="product-image">
            {if $product->icon != null}
                <img src="{$basePath}/upload/{$product->icon}"/>
            {/if}
        </div>
        <div class="center">
            <b>Typ:</b> {$product->typ}<br>
            <b>Farba:</b> {$product->farba}<br>
            {if property_exists($product, 'gramaz')}
                <b>Gramaz:</b> {$product->gramaz}<br>
                <b>Velikst:</b> {$product->velikst}<br>
            {else}
                <b>Dlzka:</b> {$product->dlzka}<br>
                <b>Vlastnost:</b> {$product->vlastnost}<br>
            {/if}
            {if $produktPocet == 0} 
                {if $product->dostupnost < $time}
                    <b>Dostupnost:</b> Není skladem<br>
                {else}
                    <b>Dostupné:</b> {$product->dostupnost|date:'d. m. Y'}<br>
                {/if}
            {else}
                <b>Skladem:</b> {$produktPocet}x<br>
            {/if}
            <b>Cena:</b> {$product->cena} Kč<br>
            <br>
            <a n:if="$produktPocet != 0" n:href="buy! 'id' => $product->sortiment_id, 'categoryId' => $product->kategorie_id, 'count' => 1" class="btn btn-primary btn-outline btn-buy">Koupit</a>
        </div>
    </div>
</article>

<article class="panel panel-default">
    <div class="panel-body">
        <h2>Recenze</h2>
        {foreach $recenzeList as $recenze}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="left">
                        Autor: <b>{$recenze->priezvisko}</b>
                    </div>
                    <div class="right">
                        {$recenze->datum|date:'d. m. Y'}
                    </div>
                    <div class="cistic"></div>
                </div>
                <div class="panel-body">
                        {$recenze->obsah}
                </div>
                <div class="panel-footer">
                    Hodnocenie: 
                    {var $x = 0}
                    {for $x = 0; $x < $recenze->hodnotenie; $x++}
                        <i class="fa fa-star"></i>
                    {/for}
                </div>
            </div>
        {/foreach}
        <div class="panel panel-primary" n:if="$user->isLoggedIn()">
            <div class="panel-heading">
                Nová recenze
            </div>
            <div class="panel-body">
                <form n:name="recenziaForm">
                    <div class="form-group">
                        <label>Komentár <b>*</b></label>
                        <textarea n:name="obsah" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Hodnotenie <b>*</b></label>
                        <input n:name="hodnotenie" class="form-control">
                    </div>
                    <div><b>*</b> Toto pole je povinné</div>
                    <div class="form-group">
                        <button n:name="send" class="btn btn-outline btn-primary btn-lg btn-block">Přidat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>