{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Správa stránek <small>Úprava stránek</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <form n:name="editPage">
                <div class="form-group">
                    <label>Titulek:</label>
                    <input n:name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label>Obsah:</label>
                    <textarea n:name="content" class="form-control tinymce"></textarea>
                </div>
                <input n:name="send" value="Upravit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{/block}