{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sprava tránek <small>Přehled</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Titulek</th>
                            <th>URL</th>
                            <th>Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $list as $site}
                            <tr>
                                <td>{$site->title}</td>
                                <td>{$site->url}</td>
                                <td>
                                    <a class="btn btn-outline btn-danger btn-xs" n:href="edit, 'id' => $site->url">editovat</a>
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}