{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Objednávky zákazníků
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Zákazník</th>
                                    <th>Datum vytvoření</th>
                                    <th>Cena celkem</th>
                                    <th>Stav</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $customerOrders as $order}
                                    <tr>
                                        <td>Faktura - {$order->objednavka_id}{$order->datum_vytvoreni|date:'dmY'}</td>
                                        <td>{$order->priezvisko}</td>
                                        <td>{$order->datum_vytvoreni|date:'d. m. Y'}</td>
                                        <td>{$order->price} Kč</td>
                                        <td>{if $order->stav == 0}zpracovává{elseif $order->stav == 1}vyfakturována{else}zrušena{/if}</td>
                                        <td>
                                            {if $order->stav == 0}
                                                <a n:href="updateState! 'id' => $order->objednavka_id, 'state' => 1"><i class="fa fa-check"></i></a>
                                                <a n:href="updateState! 'id' => $order->objednavka_id, 'state' => 2"><i class="fa fa-times"></i></a>
                                            {/if}
                                            <a n:href=":System:Order:finished, 'id' => $order->string_id">detail</a>
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Objednávky u dodavatelů
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dodavatel</th>
                                    <th>Cena celkem</th>
                                    <th>Datum doručení</th>
                                    <th>Stav</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $deliveryOrders as $order}
                                    <tr>
                                        <td>Objednávka - {$order->dodavatel_objednavka_id}{$order->datum_vytvoreni|date:'dmY'}</td>
                                        <td>{$order->dodavatel}</td>
                                        <td>{$order->celkem} Kč</td>
                                        <td>{$order->datum_doruceni|date:'d. m. Y'}</td>
                                        <td>{if $order->stav == 0}nedoručeno{else}doručeno{/if}</td>
                                        <td>{if $order->stav == 0}<a n:href="changeDeliveryStatus! 'id' => $order->dodavatel_objednavka_id">doručeno</a>{/if}</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{/block}