<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" n:href="Homepage:default">Administrace</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a n:href="User:update"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li class="divider"></li>
                <li><a n:href="Logout!"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a n:href="Homepage:default"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li n:if="$user->isInRole('main_admin')">
                    <a n:href="Employee:list"><i class="fa fa-user fa-fw"></i> Správa zaměstnanců</a>
                </li>
                <li>
                    <a n:href="Page:list"><i class="fa fa-desktop fa-fw"></i> Správce stránek</a>
                </li>
                <li>
                    <a n:href="Supplier:list"><i class="fa fa-empire fa-fw"></i> Správce dodavatelů</a>
                </li>
                <li>
                    <a n:href="Category:list"><i class="fa fa-list fa-fw"></i> Správca kategorii</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
