{block content}
    <div id="wrapper">
        {include '../menu.latte'}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
            <div class="row">
                MUJ OBSAH
            </div>
        </div>
    </div>
{/block}