{block content}
<article>
    <div class="panel panel-primary">
        <div class="panel-heading">Nákupní koš</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>Cena za kus</th>
                            <th>Kusy</th>
                            <th>Celkem</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $products as $product}
                            <tr>
                                <td>{$product['data']->nazov}</td>
                                <td>{$product['data']->cena} Kč</td>
                                <td>{$product['count']}</td>
                                <td>{$product['count'] * $product['data']->cena} Kč</td>
                                <td><a n:href="remove! 'id' => $product['data']->sortiment_id" class="btn btn-outline btn-danger btn-xs">odebrat</a></td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <a n:href="Order:default" class="btn-buy">Objednat</a>
        </div>
        <div class="panel-footer text-right"><b>Cena celkem: {ceil($shoppingPrice)} Kč</b></div>
    </div>
</article>