{block content}
<article>
    <article class="panel panel-primary">
        <div class="panel-body">
            {var $produktPocet = 0}
            {foreach $products as $product}
                {php $produktPocet = $product->pocet}
                {if array_key_exists($product->sortiment_id, $cartProducts)}{php $produktPocet -= $cartProducts[$product->sortiment_id]}{/if}
                <div class="product-container col-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a n:href="Product:detail, 'id' => $product->sortiment_id">{$product->nazov}</a>
                        </div>
                        <div class="panel-body" onclick="location.href ={link Product:detail, 'id' => $product->sortiment_id}">
                            <div class="product-image">
                                {if $product->icon != null}
                                    <img src="{$basePath}/upload/{$product->icon}"/>
                                {/if}
                            </div>
                            {if $produktPocet == 0} 
                                {if $product->dostupnost < $time}
                                    Není skladem<br>
                                {else}
                                    Dostupné: {$product->dostupnost|date:'d. m. Y'}<br>
                                {/if}
                            {else}
                                Skladem: {$produktPocet}x<br>
                            {/if}
                            Cena: {$product->cena} Kč<br>
                        </div>
                        <div class="panel-footer">
                            <a n:if="$produktPocet != 0" n:href="buy! 'id' => $product->kategorie_id, 'productId' => $product->sortiment_id, 'count' => 1" class="btn btn-primary btn-outline btn-buy">Koupit</a>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    </article>
    <div class="cistic"></div>
</article>
