{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Zaměstnanci <small>Nový zaměstnanec</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <form n:name="addEmployee">
                <div class="form-group">
                    <label class="col-lg-2">Email: <b>*</b></label>
                    <input n:name="email">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Heslo: <b>*</b></label>
                    <input n:name="password">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Heslo znovu: <b>*</b></label>
                    <input n:name="password_again">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Jméno: <b>*</b></label>
                    <input n:name="meno">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Příjmení: <b>*</b></label>
                    <input n:name="priezvisko">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Rodné číslo: <b>*</b></label>
                    <input n:name="rodne_cislo">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Role: <b>*</b></label>
                    <select n:name="role"></select>
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Pracovní pozice: <b>*</b></label>
                    <input n:name="pozicia">
                </div>
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div><b>*</b> Toto pole je povinné</div>
                </div>
                <div class="col-lg-2"></div>
                <div>
                    <input class="btn btn-primary" n:name="send" value="Přidat">
                </div>
            </form>
        </div>
    </div>
</div>
{/block}