{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Zaměstnanci <small>Přehled</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>Pozice</th>
                            <th>Role</th>
                            <th>Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $list as $userList}
                            <tr>
                                <td>{$userList->meno}</td>
                                <td>{$userList->priezvisko}</td>
                                <td>{$userList->pozicia}</td>
                                <td>
                                    {if $userList->role == 0}
                                        <b>hlavní admin</b> {if $userList->user_id != $user->getId()}| <a class="btn btn-outline btn-link btn-xs" n:href="changeRole! 'id' => $userList->user_id, 'role' => 1">zaměstnanec</a>{/if}
                                    {elseif $userList->role == 1}
                                        <a class="btn" n:href="changeRole! 'id' => $userList->user_id, 'role' => 0">hlavní admin</a> | <b>zaměstnanec</b>
                                    {else}
                                        <a class="btn" n:href="changeRole! 'id' => $userList->user_id, 'role' => 0">hlavní admin</a> | <a class="btn btn-outline btn-link btn-xs" n:href="changeRole! 'id' => $userList->user_id, 'role' => 1">zaměstnanec</a>
                                    {/if}
                                </td>
                                <td>
                                    {if $user->getIdentity()->user_id != $userList->user_id}
                                        <a class="btn btn-outline btn-danger btn-xs" n:href="delete! 'id' => $userList->user_id">Smazat</a>
                                    {/if}
                                    <a class="btn btn-outline btn-primary btn-xs" n:href="update, 'id' => $userList->user_id">upravit</a>
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a n:href="Employee:Add" class="btn btn-lg btn-success">Přídat zaměstnance</a>
        </div>
    </div>
</div>
{/block}

<!-- /.table-responsive -->