{block content}
<form n:name="signInForm">
    <h1>Prihlásenie</h1>
    Email: <input n:name="username" type="email"><br>
    Heslo: <input n:name="password" type="password"><br>
    <input n:name="remember" type="checkbox"> Trvale prihlásiť<br>
    <input n:name="send" type="submit" value="Prihlásiť">
</form>