.admin-list {
    list-style-type: none;
    font-size: 25px;
}

.admin-list li {
    text-decoration: none;
}

.admin-menu a:not(:first-child){
    display: none
}

.admin-menu:hover a {
    display: inline
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="datetime"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="search"],
.form-group input[type="tel"],
.form-group input[type="time"],
.form-group input[type="url"],
.form-group input[type="phone"],
.form-group select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group input:focus, .form-group select {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.product-image {
    line-height: 250px;
    text-align: center;
    vertical-align: central;
}

.product-image img {
    max-height: 250px;
    max-width: 100%
}

.form-group b {
    color: red;
}

.table>tbody>tr>td{
    vertical-align: central;
}