<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Cerny & Blaskova</title>
        <!-- Bootstrap Core CSS -->
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{$basePath}/css/default.css" rel="stylesheet">
    </head>

    <body>
        <header class="fixed top">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" n:href="Homepage:, 'id' => 'domov'">Domov</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li{ifCurrent Category:default, 'id' => 1} class="aktivni"{/ifCurrent}><a n:href="Category:default, 'id' => 1">Farbicky</a></li>
                            <li{ifCurrent Category:default, 'id' => 2} class="aktivni"{/ifCurrent}><a n:href="Category:default, 'id' => 2">Skicaky</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li{ifCurrent Homepage:default, 'id' => 'o_nas'} class="aktivni"{/ifCurrent}><a n:href="Homepage:default, 'id' => 'o_nas'">O nas</a></li>
                            <li{ifCurrent Homepage:default, 'id' => 'kontakty'} class="aktivni"{/ifCurrent}><a n:href="Homepage:default, 'id' => 'kontakty'">Kontakty</a></li>
                            <li n:if="!$user->isLoggedIn()" {ifCurrent SignIn:} class="aktivni"{/ifCurrent}><a n:href="SignIn:">Prihlásiť</a></li>
                            <li n:if="!$user->isLoggedIn()"{ifCurrent SignUp:default} class="aktivni"{/ifCurrent}><a n:href="SignUp:default">Registrovať</a></li>
                            
                            <li n:if="$user->isLoggedIn()" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$user->getIdentity()->priezvisko} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a n:href="Order:list">Přehled objednávek</a></li>
                                    <li><a n:href="logout!">Odhlásit se</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <div class="shopping-box">
                <div class="price" onclick="location.href ={link Cart:default}">{$shoppingPrice} Kč</div>
            </div>
        </header>

        <div class="page">
            <article n:foreach="$flashes as $flash">
                <div n:class="flash, panel, panel-red, $flash->type">
                    <div class="panel-body" ">{$flash->message}</div>
                </div>

            </article>
            {include content}
        </div>


        <div class="cistic"></div>
        <footer class="navbar-fixed-bottom">
            Autori: Cerny &#38; Blaskova 
        </footer>

        {block scripts}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/myAJAX.js"></script>
        {/block}

    </body>
</html>