{block content}
<form n:name="signUpForm">
    <h1>Registrácia</h1>
    Meno a priezvisko:<b>*</b> <input n:name="priezvisko" type="text"><br>
    Email:<b>*</b> <input n:name="email" type="email"><br>
    Heslo:<b>*</b> <input n:name="password" type="password"><br>
    Tel. číslo:<b>*</b> <input n:name="cislo" type="phone" ><br>
    <div><b>*</b> Toto pole je povinné</div>
    <input n:name="send" type="submit" value="Registrovať">
</form>