{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Produkt <small>Nový produkt</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <form n:name="addProduct">
                <div class="form-group">
                    <label class="col-lg-2">Obrázek:</label>
                    <input n:name="icon">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Počet: <b>*</b></label>
                    <input n:name="pocet">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Typ: <b>*</b></label>
                    <input n:name="typ">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Nazov: <b>*</b></label>
                    <input n:name="nazov">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Dostupnost:</label>
                    <input class="datepicker" n:name="dostupnost">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Farva: <b>*</b></label>
                    <input n:name="farba">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Cena: <b>*</b></label>
                    <input n:name="cena">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Dodavatel: <b>*</b></label>
                    <select n:name="dodavatel_id"></select>
                </div>
                {if $type == 1}
                    <div class="form-group">
                        <label class="col-lg-2">Délka: <b>*</b></label>
                        <input n:name="dlzka">
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Vlastnost: <b>*</b></label>
                        <input n:name="vlastnost">
                    </div>
                {else}
                    <div class="form-group">
                        <label class="col-lg-2">Gramáž: <b>*</b></label>
                        <input n:name="gramaz">
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Velikost: <b>*</b></label>
                        <input n:name="velikst">
                    </div>
                {/if}
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div><b>*</b> Toto pole je povinné</div>
                </div>
                <div class="col-lg-2"></div>
                <div>
                    <input class="btn btn-primary" n:name="send" value="Přidat">
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block scripts}
<script src="{$basePath}/admin/js/datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>
{/block}