{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Produkt <small>Objednání nových kusů</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <form n:name="orderProduct">
                <div class="form-group">
                    <label class="col-lg-2">Počet kusů:</label>
                    <input n:name="kusy">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Datum doručeni:</label>
                    <input class="datepicker" n:name="datum_doruceni">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Cena za kus:</label>
                    <input value="{$sortiment->cena} Kč" disabled="true">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Dodavatel:</label>
                    <input value="{$dodavatel->nazov}" disabled="true">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Způsob doručení:</label>
                    <input value="{$dodavatel->doprava}" disabled="true">
                </div>
                <div class="col-lg-2"></div>
                <div>
                    <input class="btn btn-primary" n:name="send" value="Objednat">
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block scripts}
<script src="{$basePath}/admin/js/datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>
{/block}