{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Kategorie <small>Nová kategorie</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <form n:name="addCategory">
                <div class="form-group">
                    <label class="col-lg-2">Název: <b>*</b></label>
                    <input n:name="name">
                </div>
                <div class="form-group">
                    <label class="col-lg-2">Rodičovská kategorie: <b>*</b></label>
                    <select n:name="parent_id"></select>
                </div>
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div><b>*</b> Toto pole je povinné</div>
                </div>
                <div class="col-lg-2"></div>
                <input class="btn btn-primary" n:name="send" value="Přidat">
            </form>
        </div>
    </div>
</div>
{/block}