{block content}
<div id="wrapper">
    {include '../menu.latte'}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Kategorie <small>Detail - {$categoryInfo->name}</small></h1>
            </div>
        </div>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Produkty v kategorii
                </div>
                <div class="panel-body">
                    {foreach $products as $product}
                        <div class="product col-lg-3">
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    {$product->nazov} 
                                    <a n:if="$product->pocet == 0" n:href="Product:order, 'id' => $product->sortiment_id, 'categoryId' => $product->kategorie_id"><i class="fa fa-shopping-cart"></i></a>
                                    <a n:href="deleteProduct! 'id' => $product->kategorie_id , 'sortiment' => $product->sortiment_id"><i class="fa fa-minus-circle"></i></a> 
                                    <a n:href="Product:update, 'id' => $product->sortiment_id, 'categoryId' => $product->kategorie_id "><i class="fa fa-info-circle"></i></a> 
                                </div>
                                <div class="panel-body">
                                    <div class="product-image">
                                        {if $product->icon != null}
                                            <img src="{$basePath}/upload/{$product->icon}"/>
                                        {/if}
                                    </div>
                                    Cena: {$product->cena} Kč<br>
                                    {if $product->pocet > 0}
                                        Skladem: {$product->pocet} ks
                                    {else}
                                        Dostupnost: {$product->dostupnost|date: 'd. m. Y'}
                                    {/if}
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </div>
                <div class="panel-footer">
                    <a n:href="Product:add, 'id' => $categoryInfo->category_id, 'type' => $categoryInfo->category_id" class="">Přidat produkt</a>
                </div>
            </div>
        </div>
        <div class="row">
            <a n:href="list" class="btn btn-lg btn-success">Zpět</a>
        </div>
    </div>
</div>
{/block}