{block content}
    <div id="wrapper">
        {include '../menu.latte'}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Kategorie <small>Přehled</small></h1>
                </div>
            </div>
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
            <div class="row">
                {include subMenu.latte, count => 1, temp => $list}
            </div>
            <div class="row">
                {*<a n:href="add" class="btn btn-lg btn-success">Vytvořit novou kategorii</a>*}
            </div>
        </div>
    </div>
{/block}