<ul class="admin-list">
    {foreach $temp as $item}
        <li class="admin-menu">
            <a n:href="detail, 'id' => $item['data']->category_id">{$item['data']->name}</a>
            {if $count != 1}
                <a n:href="upgradeLevel! $item['data']->category_id" class="temp_hidden"><i class="fa fa-chevron-circle-left"></i></a>
            {/if}
            {*<a n:href="delete! $item['data']->category_id"><i class="fa fa-minus-circle"></i></a> *}
            <a n:href="update, $item['data']->category_id"><i class="fa fa-info-circle"></i></a> 
        </li>
        {if count($item['subMenu'])}
            {include subMenu.latte, count => 0, temp => $item['subMenu']}
        {/if}
    {/foreach}
</ul>