*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding-top: 70px;
    font-family: 'Nunito', sans-serif;
    color: #213240;
}
.left {
    float: left;
}
.right {
    float: right;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.cistic {
    clear: both;
    height: 1px;
}
.center {
    text-align: center;
}
.fixed {
    position: fixed;
}
.fixed.top {
    top: 0px;
}
.fixed.bottom {
    bottom: 0px;
}
header {
    width: 100%;
}
.fa {
    font-size: x-large;
}



nav.navbar {
    clear: both;
    border-radius: 0px;
}
nav.navbar-default {
    background: #213240;
    border-color: #213240;
}
nav.navbar-default > .container {
    width: 100%;
}
nav > .container > ul {
    margin: 0px;
    list-style-type: none;
}
nav ul li {
    margin: 0px 1px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 17px;
    color: white;
    text-decoration: none;
}
nav ul li:hover, .aktivni,
.navbar-header > .navbar-brand:hover,
.dropdown.open {
    background: #EC1559;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}
.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.nav .open > a {
    background-color: #EC1559;
    border-radius: 4px;
}

article {
    background: white;
}
article header {
    width: 300px;
    height: auto;
    float: left;  
    position: static;
    background: none;
    margin: 0px 50px 0px 50px;
    padding: 10px 20px;
    background: #10C8CD;
    border-radius: 8px;
}
.navbar-default, .navbar-fixed-top {
    background: #213240;
    width: 100%;
}
article section {
    background: #90AEC6;
    padding: 20px;
    border-radius: 8px;
}
footer {
    text-align: center;
    line-height: 30px;
    height: 30px;
    color: white;
    background: #213240;
}
footer a {
    color: #ffbb00;
    text-decoration: none;
}
.page > form {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #10C8CD;
    border-radius: 8px;
}
h1 {
    margin: 0 0 30px 0;
    text-align: center;
}
.shopping-box {
    clear: both;
    height: 50px;
}
.shopping-box > .price {
    width: 150px;
    margin-left: auto;
    margin-right: 5px;
    padding-right: 25px;
    text-align: right;
    font-size: 18px;
    line-height: 30px;
    background-image: url(../images/shopping_cart.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 30px;
    background-color: white;
    border-radius: 2px;
}
.shopping-box > .price:hover {
    cursor: pointer;
}
.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}
.page {
    margin-top: 70px;
    width: 1000px;
    margin: 0 auto;
}
.page article {
    margin-top: 10px;
}
.panel-primary {
    border-color: #90AEC6;
}
.panel-primary > .panel-heading {
    border-color: #90AEC6;
    background-color: #90AEC6;
}
.panel-red {
    border-color: red;
    background-color: white;
}
.products .product-title {
    padding: 10px 0px 0px 10px;
    clear: both;
}
.product-container {
    padding: 5px;
}
.product-container > .panel:hover {
    cursor: pointer;
}
.panel-body .product-image {
    height: 300px;
    line-height: 300px;
    text-align: center;
    vertical-align: central;
}
.product-image img {
    max-width: 100%;
    max-height: 300px;
}





input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
form > input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="phone"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: white;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
form > input[type="submit"] {
    padding: 19px 39px 18px 39px;
    color: #213240;
    background-color: #FAF93C;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #FFDE00;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
form b {
    color: red;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}
select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}
fieldset {
    margin-bottom: 30px;
    border: none;
}
legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 8px;
}
label.light {
    font-weight: 300;
    display: inline;
}
.btn {
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
}
.btn:visited,
.btn:active,
.btn:focus,
.btn:hover {
    text-decoration: none;
}
.btn.btn-block {
    display: block;
    width: 100%;
}
.btn.btn-primary {
    color: #122b40;
}
.btn.btn-danger {
    color: red;
}
.btn.btn-primary:hover {
    color:white;
    background-color: #122b40;
}
.btn.btn-danger:hover {
    color:white;
    background-color: red;
}
.btn.btn-outline {
    background-color: transparent;
    transition: all .5s;
}
.btn.btn-outline:hover {
    color: white;
}
.btn.btn-buy {
    border: 1px solid transparent;
    border-color: #122b40;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.67%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.67%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.67%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.67%;
}
.col-12 {
    width: 100%;
}
